<div class="login-form">
    <div class="content">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="small-user-block">
                <span class="hello">Hello, {{ app.user.name }}</span>
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </div>
        {% else %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username | default('') }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit">login</button>
        </form>
        {% endif %}
    </div>

    <div class="error-block" style="display: {% if error %}block{% else %}none{% endif %}">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </div>
</div>