{% extends "WorkplaceWebBundle:Web:base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('workplaceweb/css/portal.css') }}">
{% endblock %}
{% block header_content %}
    {{ parent() }}
    {{ render(path('login')) }}
{% endblock %}
{% block page %}
    <div class="content">
        {{ parent() }}
    </div>
{% endblock %}